.backdrop {
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.25);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../../../assets/chevron-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background-image: url("../../../assets/chevron-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}

input[type="time"]::placeholder {
  content: "finishing Time";
}

.borderstyle {
  border: 1px solid var(--grey-8, #e9ebf8);
}

input[type="date"]::before {
  position: absolute;
  left: 10px;
  top: 45px;
  content: url("./Assests/calendar.svg");
}
